@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    background: linear-gradient(105deg,
            rgb(253, 250, 73, 0.8),
            rgba(161, 39, 12, 0.8));
    background-size: cover;
    color: #1d1d1d;
    background-color: rgba(0, 221, 255, 0.059);
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}

canvas {
    border: 10px solid;
}

button {
    font-family: inherit;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#score {
    font-size: 30px;
    margin-bottom: 30px;
    /* display: inline-block; */
}

/* #play-area {
    border: 10px solid black;

} */

/* #box-area {
    background-color: brown;
    width: 150px;
    height: 150px;
    border: 5px dashed blue;
} */